@font-face {
  font-family: "Cinzel";
  src: url(../assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Grotesque";
  src: url(../assets/fonts/Darker_Grotesque/DarkerGrotesque-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Josefin";
  src: url(../assets/fonts/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Josefin-Italic";
  src: url(../assets/fonts/Josefin_Slab/JosefinSlab-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: "DancingScript";
  src: url(../assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url(../assets/images/background6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 130vh;
}

.hero {
  margin-block-start: 8rem;
  padding-block: 2rem;
  background-color: rgba(7, 57, 60, 0.8235294118);
  text-align: center;
  color: #9BF3F0;
  padding-inline: 1rem;
}
.hero #title {
  font-family: "DancingScript";
  font-size: 5rem;
  padding-block-end: 2.5rem;
}
.hero #slogan {
  font-family: "Grotesque";
  padding-block-end: 1.25rem;
}
.hero #calltoaction {
  font-family: "Grotesque";
  font-size: 1.1rem;
  width: clamp(375px, 80vw, 400px);
  margin-inline: auto;
}

#signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(191, 172, 181, 0.8078431373);
  width: clamp(375px, 90vw, 600px);
  padding: 2rem;
  margin-inline: auto;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}
#signUpContainer fieldset {
  border: none;
}
#signUpContainer fieldset legend {
  font-family: "Grotesque";
  text-align: center;
  font-size: 2rem;
}
#signUpContainer fieldset .inputContainer {
  display: flex;
  gap: 1rem;
  margin-block: 1.25rem;
  font-family: "Grotesque";
}
#signUpContainer fieldset .inputContainer .input:invalid {
  border: solid 1px red;
}
#signUpContainer fieldset button {
  margin-top: 2rem;
  margin-left: 22.5%;
  font-family: "Grotesque";
  font-size: 1.2rem;
  border: rgba(191, 172, 181, 0.8078431373) 1px solid;
  background-color: rgba(7, 57, 60, 0.8235294118);
  padding-inline: 2rem;
  padding-block-end: 0.35rem;
  padding-block-start: 0.15rem;
  color: rgba(155, 243, 240, 0.7450980392);
  border-radius: 0.4rem;
}
#signUpContainer fieldset button:hover {
  border: rgba(7, 57, 60, 0.8235294118) 1px solid;
  background-color: rgba(155, 243, 240, 0.7450980392);
  color: rgba(7, 57, 60, 0.8235294118);
}
#signUpContainer #submit-success {
  visibility: hidden;
  transition: opacity 0.6s ease-out, visibility 0s linear 0.6s;
  font-family: "Grotesque";
  visibility: visible;
  transition: opacity 0.6s ease-out, visibility 0.6s ease-out;
}
#signUpContainer #submit-success[data-submit=success] {
  padding-left: 65px;
  padding-block-end: 0.75rem;
  display: inline-flex;
  font-size: 1.2em;
  font-weight: 500;
  transition: display 0.6s ease-out;
}
#signUpContainer #existingUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signUpContainer #existingUser p#existingUserText {
  font-family: "Grotesque";
}
#signUpContainer #existingUser p#existingUserText a {
  text-decoration: none;
  color: rgba(7, 57, 60, 0.8235294118);
  font-weight: 700;
}

@media (min-width: 1001px) {
  .hero {
    margin-block-start: 4rem;
  }
}

/*# sourceMappingURL=styles.css.map */
